.customField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  .input {
    max-width: 250px;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
    height: 40px;
    border-radius: 10px;
    background: #ecebeb;
    color: #000;
    font-size: 18px;
  }
  .inputErrors {
    border: 2px solid orangered;
  }
  .error {
    color:orangered;
    max-width: 250px;
  }
}